{% extends 'layouts/default.html' %}
{# include "../components/example/example.html" #}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>HI Redesign Work in Progress</h1>
      <p>This is intended only as a scratchpad to allow FED to begin working on components before
        UX/Design is completed. It is not intended to be used after final design approval has been granted.</p>
      <ul>
        <li><a href="component_name.html">Component Title Here</a></li>
      </ul>
    </div>
  </div>

</div>
{% endblock %}

{% block javascript %}{% endblock %}
