{% from 'macros/helpers.html' import sprite %}

<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>{% block title %}{{title}}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Static App Icons -->
  <link rel="shortcut icon" href="/favicon.ico?v=1">
  <link rel="stylesheet" href="stylesheets/main.css">
  <script src="javascripts/vendor.js"></script>
  {% block head %}{% endblock %}
</head>

<body>
  <div>
    {% block content %}{% endblock %}
  </div>

  <script src="javascripts/main.js"></script>
  {% block javascript %}{% endblock %}
</body>

</html>
